.nav-logo img {
  width: 85px;
  height: 40px;
}
.nav-logo {
  left: -30px;
}

.nav-logo-mobile img {
  width: 70px;
  height: 38px;
}

.ui.segment {
  margin: 0px !important;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}